.gallery-wrapper {
  margin: auto;
  top: 25px;
  display: flex;
  flex-direction: row;
}
.column3 {
  margin: 0 auto 25px;
  display: flex;
  flex-direction: column;
}
.imgCanvas {
  width: 430px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 5px auto 10px;
}
.textImg {
  margin: auto;
  border: 2px solid #ccccce;
  height: 240px;
  width: 420px;
}
.text-toggle {
  background: #363636;
  border: 2px solid #ccc;
  width: 32px;
  height: auto;
  margin: 1px auto;
}
.text-toggle div {
  display: block;
  text-align: center;
  color: #ccc;
}
.textInfo {
  background: slategrey;
  margin: auto;
  display: none;
  color: #ccc;
  border: 2px solid #ccccce;
  width: 420px;
}
.textInfo p {
  margin: 5px;
}
