body {
  background: #3f2f39;
}
.navbar-inverse {
  background-image: linear-gradient(#51323f, #3c2027, #312630);
}
.navbar-header:hover .navbar-brand {
  color: #8f292c;
}
@font-face {
  font-family: 'Orbitron';
  src: url();
}
.navbar-inverse, .navbar-nav {
  border-bottom: none;
}
.navbar-inverse .navbar-brand {
  color: orange;
}
.navbar-brand {
  z-index: 1;
  font-family: Orbritron;
  letter-spacing: 5px;
}
.tentacleImageContainer2 {
  position: relative;
  left: -50px;
}
#tentacleImage2 {
  height: 50px;
  position: absolute;
  float: left;
  top: 18px;
}
.tentacleImageContainer {
  position: relative;
  left: -50px;
}
#tentacleImage {
  height: 100px;
  position: absolute;
  float: left;
  top: -16px;
}
