.navbar-inverse .navbar-nav>li>a {
	color: #aaa;
	font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
	font-size: 15pt;
	padding-right: 20px;
}

.navbar-inverse .navbar-brand {
	color: #aaa;
	font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
	font-size: 18pt;
}

.navbar-background-custom {
	color: white;
}

.navbar-inverse {
	background-image: none;
}

.tentacleImageContainer {
	position: relative;
	background: none;
	left: -55px;
}

#tentacleImage {
	height: 100px;
	float: left;
	position: absolute;
	top: -16px;
	/*bottom: 20px;
}
